* {
  box-sizing: border-box;
  font-size: 14pt;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  color: #333;
  /* Azul escuro */
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  background-color: #ecf0f1;
  /* Cinza claro */
}

h3 {
  text-align: center;
  color: #242525;
  /* Azul vibrante */
}

.tutorial {
  padding: 0 20px;
}

.step-1,
.step-2,
.step-3,
.step-4,
.step-5,
.step-6 {
  background-color: #eaf2f8;
  /* Azul muito claro */
  border: 1px solid #bdc3c7;
  /* Cinza suave */
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.1);
  margin: 20px;
  border-radius: 5px;
  padding: 20px;
  transition: transform 0.3s ease;
}

.step-1:hover,
.step-2:hover,
.step-3:hover,
.step-4:hover,
.step-5:hover,
.step-6:hover {
  transform: scale(1.02);
  border-color: #2980b9;
  /* Azul vibrante */
}

#security {
  border-color: #e74c3c;
  /* Vermelho suave */
}

li {
  margin: 8px 0;
  font-size: 14pt;
}

a {
  text-decoration: none;
  color: #3498db;
  /* Azul médio */
}

a:hover {
  text-decoration: underline;
  color: #1a5276;
  /* Azul mais escuro */
}

.checkbox {
  margin-top: 10px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.ok {
  margin-left: 10px;
  width: 22px;
  height: 22px;
}

.container-resources {
  padding: 2px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

footer {
  width: 100%; /* Garante que o footer ocupe 100% da largura */
  background-color: #345777;
  color: #333;
  padding: 20px 0;
  box-sizing: border-box; /* Inclui padding no cálculo da largura */
}

.footer-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 1000px; /* Limita o conteúdo interno */
  margin: 0 auto;
}

.footer-section {
  margin-bottom: 10px;
}

.footer-section h4 {
  margin: 0 0 10px;
}

.footer-section ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-section ul li {
  margin: 5px 0;
  display: flex;
  align-items: center;
  /* Alinha o texto ao centro verticalmente com a imagem */
}

.footer-section ul li img {
  width: 20px;
  /* Ajusta o tamanho da imagem conforme necessário */
  margin-right: 8px;
  /* Espaço entre a imagem e o texto */
  vertical-align: middle;
}

.footer-section ul li a {
  color: #ddd;
  text-decoration: none;
  display: flex;
  align-items: center;
  /* Alinha o texto com a imagem dentro do link */
}

.footer-section ul li a:hover {
  color: #fff;
}

.footer-bottom {
  grid-column: 1 / -1;
  text-align: center;
  font-size: 14px;
  color: #d5dbdb;
  /* Cinza claro */
  margin-top: 20px;
}

img {
  width: 2rem;
}

.linkAWS {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
